@import "../../styles/variables.scss";
body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    height: 100vh;
    margin: 20px;

    .left-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1px;
        border-radius: 30px;

        .news-container {
            display: flex;
            width: 100%;
            height: 80%;
            margin: 40px;
            border-radius: 30px;

            .news-box-left{
                display:flex;
                
                width: 99%;
                height: 100%;
                border-radius: 30px;
                flex-direction: column;
                gap: 10px;
                
               .news{ 
                display: flex;
                flex-direction: row;
                height: 100%;
                margin: 0 10px;
                justify-content: center;
                align-items: center;
                padding: 10px;
                gap: 10px;
               
                position: relative;
                .title-news{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: -100px;
                    span{
                        font: 1em sans-serif;
                        color: rgb(255, 255, 255);
                        font-size: 30px;
                        text-align: center;  
                        margin: 12px;
                        font-weight: 500;
                        width: 80%;
                        text-shadow: 0 0 5px rgba(255, 102, 0, 0.70),
                                    0 0 25px rgba(255, 102, 0, 0.70),
                                    0 0 50px rgba(255, 102, 0, 0.70),
                                    0 0 100px rgba(255, 102, 0, 0.70);
                    }
                    .subtitle{
                        font: 1em sans-serif;
                        color: rgb(255, 255, 255);
                        font-size: 14px;
                        text-align: center;  
                        margin: 12px;
                        font-weight: 500;
                        width: 50%;
                        text-shadow: 0 0 5px rgb(4, 0, 255),
                        0 0 25px rgb(4, 0, 255),
                        0 0 50px rgb(4, 0, 255),
                        0 0 100px rgb(4, 0, 255);
                        
                    }
                    button {
                        background-color: #df3c1fd5;
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 10px;
                        margin: 4px 2px;
                        cursor: pointer;
                        border-radius: 20px;
                    }
                    button:hover {
                        background-color: #ff7d04d5;
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 10px;
                        margin: 4px 2px;
                        cursor: pointer;
                        border-radius: 20px;
                        box-shadow: 0 0 10px black;
                    }
                }
           
                img {
                    width: 90%;
                    height: 100%;
                    border-radius: 10px;
                    box-shadow: 0 0 20px black;
                }
                
            }
            }
            .news-box-right{
                background-color: rgb(0, 81, 255);
                width: 30%;
                height: 100%;
                border-radius: 30px;
            }
        }
    }
    .right-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        width: 20%;
        height: 90%;
        margin-left:10px;
        border-radius: 30px;
        img{
            width: 100%;
            height: auto;
            border-radius: 30px;
            box-shadow: 0 0 20px black;
            margin: 10px;
            filter: brightness(70%);
            
        
          

            .title{
                font: 1em sans-serif;
                color: rgb(255, 255, 255);
                font-size: 30px;
                text-align: center;  
                margin: 12px;
                font-weight: 500;
                width: 80%;
            
                text-shadow: 0 0 5px rgba(255, 102, 0, 0.70),
                            0 0 25px rgba(255, 102, 0, 0.70),
                            0 0 50px rgba(255, 102, 0, 0.70),
                            0 0 100px rgba(255, 102, 0, 0.70);
            }
        }
    }
}