@import "../../styles/variables.scss";

.h1-loginbox {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    font: "Montserrat", sans-serif;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box .user-box {
   position: relative;
 }
  
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: rgba(24, 20, 20, 0.987);
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 15px;
    font-style: bold;
  }
  
  .login-box form button {
    
    display: flex;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box button:hover {
    background: #5b73ff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #5b73ff,
                0 0 25px #5b73ff,
                0 0 50px #5b73ff;
  }
  
  .login-box button span {
    
    display: flex;
  }
  .button-class{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    background-color: transparent;
    border: none;
  }
  